@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
}
.overXHidden {
  overflow-x: hidden;
}
.text-justify {
  text-align: justify;
}
a {
  color: inherit !important;
  font-weight: 600;
}
* {
  font-family: Poppins;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.decorated {
  font-size: 80px;
  font-family: Bruno Ace !important;
}
.mainApp {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}
.t02 {
  transition: all 0.2s ease-in-out;
}
.pointer {
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
}

.alignC {
  display: flex;
  justify-content: center;
  align-items: center;
}
.alignH {
  display: flex;
  align-items: center;
}

.w10 {
  width: 10%;
}
.w20 {
  width: 20%;
}
.w30 {
  width: 30%;
}
.w40 {
  width: 40%;
}
.w43 {
  width: 43%;
}
.w45 {
  width: 45%;
}
.w50 {
  width: 50%;
}
.w60 {
  width: 60%;
}

.w70 {
  width: 70%;
}
.w80 {
  width: 80%;
}
.w90 {
  width: 90%;
}
.w100 {
  width: 100%;
}

.light {
  font-weight: 300;
}
.m-light {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 600;
}
.bolder {
  font-weight: 700;
}

.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f15 {
  font-size: 15px;
}
.f18 {
  font-size: 18px;
}
.f30 {
  font-size: 30px;
}
.f26 {
  font-size: 26px;
}
.f36 {
  font-size: 36px;
}
.f55 {
  font-size: 55px;
}
.f64 {
  font-size: 64px;
}
.titleSize {
  font-size: 9vw;
}
.border {
  border: 2px solid white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.h100 {
  height: 100% !important;
}
.h100vh {
  height: 100vh;
}
.test {
  border: 1px solid red;
}
.flex-1 {
  flex: 1;
}
.z2 {
  z-index: 2;
}
@import url("./header.css");
@import url("./projects.css");
@import url("./hero.css");
@import url("./secondHeader.css");
@import url("./mobile.css");
@import url("./About.css");
@import url("./Skills.css");
@import url("./contact.css");
