.headerContainer {
  position: fixed;
  background-color: transparent;
  width: 100vw;
  z-index: 6;
  height: 60px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.hover {
  transition: all 0.2s ease-in-out;
  transform-origin: bottom;
}
.hover:hover {
  transform: translateY(-2px);
}
