.projectList {
  /* background-image: url("../public/projects/bgProjects.png"); */
  background-repeat: repeat;
  z-index: 88;
  transition: background-color 0.4s ease-in-out;
}

.projectContainer {
  width: 100vw;
  overflow: hidden;
  /* height: 100vh; */
}

.projectImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  transition: transform 0.9s ease-in-out, filter 0.4s ease-in-out,
    background-size 0.9s ease, opacity 0.9s ease-in-out;
  transform-origin: top left;
}

.openedProject {
  transform: translate(200px, 0px) scale(1.2) !important;
}

.reversed {
  flex-direction: row-reverse;
}

.projectTitle,
.projectdate {
  font-family: Bruno Ace;
}
.nobreak {
  white-space: nowrap;
}
.projectTitle {
  font-size: 60px;

  font-weight: bold;
}

.borderTest {
  border: 2px solid red;
}
/* .margOdd {
  margin-right: -100px;
}
.margEven {
  margin-left: -100px;
} */

.projectInfo {
  transition: transform 0.6s ease-in-out, filter 0.4s ease-in-out,
    opacity 0.4s ease-in-out, width 0.4s ease-in-out, min-width 0.4s ease-in-out;
  z-index: 2;
  min-width: 400px;
  height: 100%;
}
.notVisibleProject .projectImage {
  opacity: 0;
  transform: translateY(100px);
}
.notVisibleProject .projectInfo {
  opacity: 0;
  transform: translateY(-100px);
}
.notVisibleProject .screenshotsSection {
  opacity: 0;
  transform: translateY(-100px);
}
.projectButton {
  outline: none;
  border: 2px solid white;
  background-color: white;
  color: #47628a;

  height: 45px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}
.w200 {
  min-width: 200px;
}
.w50px {
  min-width: 50px;
}
.projectButton:hover {
  background-color: transparent;
  color: white !important;
  transform: translateY(-5px);
}
.projectButton:active {
  opacity: 0.3;
  transform: scale(1.08);
}

.projectMain {
  transition: width 0.4s ease-in-out;

  /* min-width: 100vw; */
}
.screenshotsSection {
  transition: transform 0.9s ease-in-out, filter 0.4s ease-in-out,
    background-size 0.9s ease, opacity 0.9s ease-in-out, width 0.4s ease-in-out;
  gap: 30px;
  display: flex;
  overflow-y: hidden !important;
  overflow-x: scroll;
}
.screenShotItem {
  height: 100%;
  min-height: 500px;
}

.screenshotsSection::-webkit-scrollbar {
  display: block;
  width: 10px;
  height: 10px;
  background: transparent;
}
.screenshotsSection::-webkit-scrollbar-track {
  background: transparent;
}
.screenshotsSection::-webkit-scrollbar-thumb {
  background: #f0eded;
  border-radius: 20px;
}

/* Hide scrollbar for IE, Edge and Firefox */
.screenshotsSection {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.op0 {
  opacity: 0;
  width: 0px !important;
  min-width: 0px;
}
.trans1000 {
  transform: translateX(10000px);
}
.trans-1000 {
  transform: translateX(-10000px);
}
.op1 {
  opacity: 1;
}
.pl100 {
  margin-left: 200px;
}
.pr100 {
  margin-right: 100px;
}

@media only screen and (max-width: 920px) {
  .projectImage {
    border-radius: 0px !important;
  }
  .margOdd {
    margin-right: unset;
  }
  .margEven {
    margin-left: unset;
  }
  .projectTitle {
    font-size: 40px;
    text-align: start;
  }
  .projectInfo * {
    white-space: pre-wrap;
  }
  .projectInfo {
    min-width: auto;
    padding-left: 5px;
    text-align: start;
  }
}
