.secondHeaderContainer {
  transform: translateY(-50%);
  width: 80%;
  margin: auto;
  border: 10px solid black;
  height: 700px;
  border-radius: 20px;
  background: linear-gradient(
    150deg,
    rgba(1, 164, 207, 1) 0%,
    rgba(138, 159, 199, 1) 42%,
    rgba(161, 155, 197, 1) 57%,
    rgba(219, 62, 191, 1) 100%
  );
  overflow: hidden;
  position: relative;
}

.myImage {
  position: absolute;
  z-index: 1;
  left: 50%;
}
.secondHeaderInline {
  z-index: 2;
}
.inlineTitle {
  font-weight: 800;
  font-size: 6vw;
}
.inlineSubtitle {
  font-size: 36px;
}
.reseauLine {
  height: 30%;
  width: 1px;
  background-color: white;
}
.headerLink {
  width: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lineHover {
  width: 100%;
  background-color: white;
  height: 2px;
  border-radius: 10px;
}
.link1:hover .lineHover {
  transform: translateX(100%);
}
.socialMediaIcon {
  transform: scale(0.9);
}
.socialMediaIcon:hover {
  transform: scale(0.9);
}
@media only screen and (max-width: 920px) {
  .secondHeaderContainer {
    width: 100vw;
    padding: 1em;
    height: 100vh;
  }
  .inlineSubtitle {
    font-size: 25px;
  }
  .myImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
