.skillCardContainer {
  height: 400px;
  border-radius: 10px;
  background-color: #221f22;
  transform: scale(0.9);
  min-width: 300px;
  position: relative;
  transform: scale(0.98);
  transition: all 0.2s ease-in-out;
}
.skillCardContainer:hover {
  transform: scale(1);
}
.skillLogo {
  height: 130px;
}
.skillLevelContainer {
  position: absolute;
  left: 0;
  bottom: 0;
  /* background-color: rgba(161, 158, 158, 0.5); */
  width: 100%;
  z-index: -1;
}
